<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <!--引用默认日志配置-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--使用默认的控制台日志输出实现-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!--应用名称-->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="mall-gateway"/>
    <!--日志文件保存路径-->
    <springProperty scope="context" name="LOG_TEMP" source="logstash.log.path" defaultValue="./tmp"/>
    <!--LogStash访问host-->
    <springProperty name="LOG_STASH_HOST" scope="context" source="logstash.host" defaultValue="localhost"/>

<!--TODO Temporary Stop ELK System-->
    <!--Gateway App日志输出到LogStash-->
<!--    <appender name="LOG_GATEWAY_SERVICE" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>${LOG_STASH_HOST}:4564</destination>-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            &lt;!&ndash;设置为默认的文件日志格式&ndash;&gt;-->
<!--            <pattern>${FILE_LOG_PATTERN}</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--        <connectionStrategy>-->
<!--            <roundRobin>-->
<!--                <connectionTTL>5 minutes</connectionTTL>-->
<!--            </roundRobin>-->
<!--        </connectionStrategy>-->
<!--    </appender>-->

    <!--控制框架输出日志-->
    <logger name="org.slf4j" level="INFO"/>
    <logger name="springfox" level="INFO"/>
    <logger name="io.swagger" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate.validator" level="INFO"/>
    <logger name="com.alibaba.nacos.client.naming" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="LOG_GATEWAY_SERVICE"/>-->
    </root>
</configuration>
